@charset "UTF-8";

@import url('reset.css');
@import url('patterns.css');

/* ============================================================
	Site specific styles
============================================================ */
html {
    overflow-y: scroll;
}

body {
    background-color: #f6f6f6;
}

header[role="banner"] {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #4099b6, #2e9fbb);
    background-image: -moz-linear-gradient(top, #4099b6, #2e9fbb);
    background-image: -ms-linear-gradient(top, #4099b6, #2e9fbb);
    background-image: -o-linear-gradient(top, #4099b6, #2e9fbb);
    background-image: linear-gradient(to bottom, #4099b6, #2e9fbb);
    box-shadow: inset 0 -2px rgba(0,0,0,0.25), inset 0 2px rgba(0,0,0,0.1);
    margin: 0;
    border-bottom: 1px solid #02a;
    padding-top: 4em; /* 64px */
}

    header[role="banner"] .headline,
    header[role="banner"] .lede,
    header[role="banner"] .title {
        color: #fff;
        text-shadow: 0 -2px 0 rgba(0,0,0,0.25);
    }

main[role="main"] {
    background-color: #fff;
    padding: 1em 0;
}

footer[role="contentinfo"] {
    box-shadow: inset 0 2px #f0f0f0;
    margin-top: 0;
}


#nav {
    display: inline-block;
    vertical-align: top;
    max-width: 12em;
}

    #nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

#nav ul li {
    margin: 0;
    background-color: transparent;
    border-top: 1px solid #5b616b;
    font-size: 1rem;
}

#nav ul li a {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.3;
    padding: 0.85rem 1rem 0.85rem 1rem;
    text-decoration: none;
}

    #nav ul li a:focus {
        outline: none;
        border: none;
    }
#nav ul li a.active {
    color: #4099b6;
    /*color: #fff;*/
}

#content {
    display: inline-block;
    max-width: 36em;
    padding-left: 2em;
    vertical-align: top;

}
p.lead {
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
}

